*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1180px
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

li{
    list-style-type: none;
}

button{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 0;
}

section{
    padding: 0 3rem;
}

.color-white{
    color: white;
}

.color-grey{
    color:#696969
}

